

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js">
    </script>
    <link rel= "icon" href="/static/vx.ico">
<head>
	<title>
    Virus-contact page
	</title>
<style type="text/css">
	

</style>

</head>
    {% include 'includes/_navbar.html' %}

<body>

<div id = "info_container" >
	<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='https://github.com/Daniel0Rod'> My GitHub</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
</div>

</body>
</html>