
h1{
	text-align: center;
}


#sidebar
{
	position: absolute;
	margin-right: 80%;
	margin-left: 5%;
	margin-top: 5%;
}

article
{	
background-color: #A9A9A9;
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;

}
footer
{
	margin-bottom: 3%;
	margin-left: 2%
}
